.trident_img
{
    width:200px ;
    height:48px ;

}.dropdown
{
   display: flex;
   align-items: center;
   cursor: pointer;
   height: 25px;
}
#dropdown_section
{
   border: none;
   background: none;
   color: black;
}
#navbar_tag
{
    margin: 0;
    display: flex;
    width: 1040px;
    justify-content: right;
    gap: 22px;
    align-items: baseline;
    text-transform: uppercase;
    font-weight: 600;
    color: #7a7a7a;
    font-family: Barlow,sans-serif;
    font-size: 14px;
}
.india,.dropdown
{
    background-color: white;
    width: 84px;
    height: 28px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color: #7a7a7a;
    font-family: Barlow,sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.4rem;
}
#dropdown_ul
{
    position: absolute;
    left: -65px
}
#content_part_id
{
    color: #7a7a7a;
    font-family: Barlow,sans-serif;
    cursor: pointer;
    margin: 0;
    padding: 0;
    
}
#content_part_id:hover
{
    color: green;
    transition: all .3s ease
}

/*  ------    End   ------ */
